{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container py-1">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="margin-top:150px">
          <div class="card bg-dark text-white" style="border-radius: 1rem;>
            <div class="card-body p-5 text-center">
                    <h2 class="text-center p-5 mb-2" style="color: white;">You are Logged out</h2>
                  </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>

{% endblock content %}