{% extends 'myapp/base.html' %}

{% block content %}
<div class="container for-you">
    <div class="heading heading-flex mb-3">
        <div class="heading-left">
            <h2 class="title">Search Product</h2><!-- End .title -->
        </div><!-- End .heading-left -->

       
    </div><!-- End .heading -->

    <div class="products">
        <div class="row justify-content-center">

            
            {% for p in products %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product product-2">
                    <figure class="product-media">
                        <span class="product-label label-circle label-top">Top</span>
                        <a href="{% url 'product-details' p.pk %}">
                            <img src="{{ p.image.url }}" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                            <a href="{% url 'product-details' p.pk %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{ p.catagory.name }}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="{% url 'product-details' p.pk %}">{{ p.name }}</a></h3><!-- End .product-title -->
                        <div class="product-price"> 
                            
                            {% if p.discount_price %}
                            <span new="new price">৳ {{ p.discount_price }} </span> &nbsp;
                            <span new="old-price" style="color: rgb(201, 201, 201);"> Was  <del>৳{{ p.price }}</del></span>
                            {% else %}
                            <span new="new price">৳ {{ p.price }} </span>
                            {% endif %}
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
            {% endfor %}
                
            


            
        </div><!-- End .row -->
    </div><!-- End .products -->
</div><!-- End .container -->
{% endblock content %}
    